<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.usinasantafe.cmm.test">

    <application
        android:name="br.com.usinasantafe.cmm.CmmTestApplication_Application"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light">
    </application>
</manifest>